<!DOCTYPE html>
{% extends 'wsc/base.html' %}

{% block header %}
<img src="{{ url_for('static', filename='title_image.png') }}">
<h1>About WSC</h1>
{% endblock %}

{% block content %}
<section id="about">
    <p>
        A whale shark is the ocean's largest fish. It feeds on krill, plankton, and others of the ocean's smallest creatures. Through the very effort of swimming, they sustain their massive bodies on the littlest things: Philosophically creating great growth from the smallest of gains if only the effort to continue stays.
    </p>
    <p>
        Whale Shark Capital started in 2019 as an internet sustainability project. Using a nano investment in digital assets to produce single-digit monthly returns was enough to pay for the domain name service. When gains increased to double digits a month, it allowed for expansion into containerized and cloud resources. In a good market, the project made gains on its original investment, creating income and security.
    </p>
    <p>
        In 2022 the assets and resources gathered began being used for app hosting. Software development, hosting, and deployment get handled directly. Through client interaction in the development process, needs are focused on a tailored solution. Tailored solution software using micro-service's is lightweight and cost-effective, often reducing software expenses many times over from enterprise solutions.
    </p>
    <p>
        Working with APIs and cloud provider best practice security means working with the tools you already use. Database solutions utilizing SQL ranging from local to cloud scalable and managed. 
    </p>
</section>
{% endblock %}