<!DOCTYPE html>
{% extends 'wsc/base.html' %}

{% block header %}
<h1>Welcome {{ g.user['username'] }}</h1>
{% for service in services %}
<a href="{{ url_for(service['link'])}}"><button>{{ service['name'] }}</button></a>
{% endfor %}
<a href="{{ url_for('web.chatter_page')}}"><button>Chatter</button></a>
<a href="{{ url_for('web.lvgm.lvgm_home')}}"><button>LVGM</button></a>


{% endblock %}

{% block content %}
{% if g.user['role_id'] == 1 %}
<section id="about">
    <a href="{{ url_for('web.db_dump') }}"><button>Data Dump</button></a>
</section>
{% endif %}
{% endblock %}