<!DOCTYPE html>
{% extends 'wsc/base.html' %}

{% block header %}
<section class="title">
    <h1>Welcome to Whale Shark Capital</h1>
    <p>Tailored solution software for small businessess.</p>    
</section>
<section class="logo_container">
    <section class="img_text">
        <img src="{{ url_for('static', filename='wsc/images/cloud.png') }}">
        <p>Cloud Apps.</p>
    </section>
    <section class="img_text">
        <img src="{{ url_for('static', filename='wsc/images/datastack.png') }}">
        <p>Database Solutions</p>
    </section>
    <section class="img_text">
        <img src="{{ url_for('static', filename='wsc/images/api_gears.png') }}">
        <p>API Connections</p>
    </section>
</section>

{% endblock %}

{% block content %}

<section class="ad" id="ad1">
    <h1>Software Solutions for Your Needs</h1>
    <p>Your business has specific needs and pipelines. Why find an enterprise solution that requires adjustment, risking expense on un-utilized features.
        Using containerized api applications and cloud computing; tailored solutions for your business can be created with your existing tools and services, and made
        accissible on the web or local office networks.
    </p>
    <section class="logo_flex">
        <img src="{{ url_for('static', filename='wsc/images/GCP_logo.png') }}">
        <img src="{{ url_for('static', filename='wsc/images/postgres_logo.png') }}">
        <img src="{{ url_for('static', filename='wsc/images/squareup_logo.png') }}">
        <img src="{{ url_for('static', filename='wsc/images/azure_logo.png') }}">
        <img src="{{ url_for('static', filename='wsc/images/aws_logo.png') }}">
    </section>
</section>

<section class="ad" id="login">
    <form method="POST" id="login_form">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input name="password" type="password" id="password" required>
        {% if OPEN_REG %}
        <label for="reg">register</label>
        <input type="radio" id="reg" name="login" value="reg">
        <label for="login">login</label>
        <input type="radio" id="login" name="login" value="login" checked>
        {% endif %}
        <input type="submit" value="Log In">
    </form>
</section>

{% endblock %}