<!DOCTYPE html>
{% extends 'wsc/base.html' %}

{% block header %}
<h1>Whale Shark Capital</h1>
<form method="POST" id="login_form", action="/register">
    <label for="username">Username</label>
    {% if username and password %}
    <input name="username" id="username" required value="{{ username }}">
    <label for="password">Password</label>
    <input name="password" type="password" id="password" required value="{{ password }}">
    {% else %}
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input name="password" type="password" id="password" required>
    {% endif %}
    <label for="confirm_pass">Re-type Password</label>
    <input name="confirm_pass" type="password" id="confirm_pass" required>
    <input type="radio" id="admin" name="admin" value="admin">
    <label for="admin">Admin</label>
    <input type="radio" id="user" name="user" value="user" checked="checked">
    <label for="user">User</label>
    <input type="submit" value="Register">
</form>
{% endblock %}

{% block content %}

{% endblock %}