<!DOCTYPE HTML>
<html>
    <head>
        <title>Service Platform</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <style>

        </style>
    </head>
    <body>
        <section id="sleeve">
            <!-- <nav><button type="button" onclick="window.location.href='{{ url_for('web.index') }}'">Home</button></nav> -->
            <section class="content">
                <header id="header">
                    <img id="title_img" src="{{ url_for('static', filename='title_image.png') }}">
                    <h1>Whale Shark Capital</h1>
                    {% block header %}{% endblock %}
                </header>
                <main>
                    {% block content %}{% endblock %}
                </main>
            </section>
        </section>
    </body>
</html>