<!DOCTYPE html>
{% extends 'base.html' %}

{% block header %}
<p>Tailored solution software for small businessess.</p>
<!-- <section id="app_list">
    <a href="https://xreddr.github.io" class="glass">Contanct</a>
    <a href="https://wsc-qxy4flwsca-uc.a.run.app/" class="glass">PPAS Login</a>
</section> -->
<!-- <h3>Explore Apps</h3>
<section id="app_list">
    <a href="#ad1" class="glass">TechDay</a>
    <a href="#ad2" class="glass">PopStudio</a>
    <a href="#ad3" class="glass">WSC API</a>
</section> -->
<section id="menu" onclick="menuClick(this)"">
    <section class="menu_icon">
        <section class="menu_container">
            <div class="menu1"></div>
            <div class="menu2"></div>
            <div class="menu3"></div>
        </section>
    </section>
    <section class="menu_bar">
        <a href="#ad1" class="glass">TechDay</a>
        <a href="#ad2" class="glass">PopStudio</a>
        <a href="#ad3" class="glass">WSC API</a>
        <a href="https://xreddr.github.io" class="glass">Contact</a>
        <a class="menu_buff"></a>  
    </section>
    <a href="https://wsc-qxy4flwsca-uc.a.run.app/" class="left_icon">PPAS</a>
    <a href="#header" class="right_icon">Home</a>    
</section>
{% endblock %}

{% block content %}
<!-- <button type="button" onclick="window.location.href='{{ url_for('.login') }}'">Log In</button>
<button type="button" onclick="window.location.href='{{ url_for('.about_page') }}'">About</button> -->

<section class="ad" id="ad1">
    <h1>Tech Day</h1>
    <section class="block1">
        <p>Blah Blah Blah</p>
        <img src="{{ url_for('static', filename='tech_day_dial.png') }}">
    </section>
    <section class="block2">
        <img src="{{ url_for('static', filename='tech_day_listShort.png') }}">
        <p>Blah blah blah.</p>
    </section>
    <section class="block1">
        <img src="{{ url_for('static', filename='GCP_logo.png') }}">
    </section>
</section>

<section class="ad" id="ad2">
    <h1>POP Studio</h1>
    <section class="block1">
        <p>Blah Blah Blah</p>
        <img src="{{ url_for('static', filename='pop_studio_lesson.png') }}">
    </section>
    <section class="block2">
        <img src="{{ url_for('static', filename='pop_studio_report.png') }}">
        <p>Blah blah blah.</p>
    </section>
    <section class="block3">
        <img src="{{ url_for('static', filename='gcloud_logo.png') }}">
        <img src="{{ url_for('static', filename='squareup_logo.png') }}">
    </section>
</section>

<section class="ad" id="ad3">
    <h1>WSC API</h1>
    <section class="block1">
        <p>API URL. A response code of 0 indicates a succesful connection. A response code of -1 indicates an error. Both are delivered through the response body.</p>
        <pre>
            <code>
                GET
                34.42.125.145:8080/api/home
                responce = {
                    "code" : 0,
                    "body" : jsonObject
                }
            </code>
        </pre>
    </section>
    <section class="block1">
        <p>Register new user.</p>
        <pre>
            <code>
                POST
                34.42.125.145:8080/api/register
                json = {
                    "service" : "service1",
                    "username" : "yourchoice",
                    "password" : "yourchoice"
                }
            </code>
        </pre>
    </section>
    <section class="block1">
        <p>Login as a registered user.</p>
        <pre>
            <code>
                POST
                34.42.125.145:8080/api/login
                json = {
                    "service" : "service1",
                    "username" : "yourchoice",
                    "password" : "yourchoice"
                }
            </code>
        </pre>
    </section>
    <section class="block1">
        <p>Change username.</p>
        <pre>
            <code>
                POST
                34.42.125.145:8080/api/update/username
                json = {
                    "username" : "existingusername",
                    "password" : "yourpassword",
                    "new_username" : "yourchoice"
                }
            </code>
        </pre>
    </section>
    <section class="block1">
        <p>Change password.</p>
        <pre>
            <code>
                POST
                34.42.125.145:8080/api/update/password
                json = {
                    "username" : "existingusername",
                    "password" : "yourpassword",
                    "new_password" : "yourchoice"
                }
            </code>
        </pre>
    </section>
    <section class="block1">
        <p>Delete account.</p>
        <pre>
            <code>
                POST
                34.42.125.145:8080/api/delete
                json = {
                    "username" : "existingusername",
                    "password" : "yourpassword",
                }
            </code>
        </pre>
    </section>
    <section class="block1">
        <p>Logout.</p>
        <pre>
            <code>
                GET
                34.42.125.145:8080/api/logout
            </code>
        </pre>
    </section>
    <section class="block3">
        <img src="{{ url_for('static', filename='GCP_logo.png') }}">
        <img src="{{ url_for('static', filename='postgres_logo.png') }}">
    </section>
</section>

<script src="{{ url_for('static', filename='js/index.js')  }}"></script>
{% endblock %}