<!DOCTYPE html>
{% extends 'base.html' %}

{% block header %}
<section class="title">
    <h1>Welcome to Whale Shark Capital</h1>
    <p>Tailored solution software for small businessess.</p>    
</section>
<section class="logo_container">
    <section class="img_text">
        <img src="{{ url_for('static', filename='cloud.png') }}">
        <p>Cloud Apps.</p>
    </section>
    <section class="img_text">
        <img src="{{ url_for('static', filename='datastack.png') }}">
        <p>Database Solutions</p>
    </section>
    <section class="img_text">
        <img src="{{ url_for('static', filename='api_gears.png') }}">
        <p>API Connections</p>
    </section>
</section>
<section id="menu" onclick="menuClick(this)"">
    <section class="menu_icon">
        <section class="menu_container">
            <div class="menu1"></div>
            <div class="menu2"></div>
            <div class="menu3"></div>
        </section>
    </section>
    <section class="menu_bar">
        <a href="#ad1" class="glass">Cloud Apps</a>
        <!-- <a href="#ad2" class="glass">Database Solutions</a> -->
        <a href="#ad3" class="glass">WSC API</a>
        <a href="https://xreddr.github.io" class="glass">Contact</a>
        <a class="menu_buff"></a>  
    </section>
    <a href="https://wsc-qxy4flwsca-uc.a.run.app/" class="left_icon">PPAS</a>
    <a href="#header" class="right_icon">Home</a>    
</section>
{% endblock %}

{% block content %}

<section class="ad" id="ad1">
    <h1>Software Solutions for Your Needs</h1>
    <p>Your business has specific needs and pipelines. Why find an enterprise solution that requires adjustment, risking expense on un-utilized features.
        Using containerized api applications and cloud computing; tailored solutions for your business can be created with your existing tools and services, and made
        accissible on the web or local office networks.
    </p>
    <section class="logo_flex">
        <img src="{{ url_for('static', filename='GCP_logo.png') }}">
        <img src="{{ url_for('static', filename='postgres_logo.png') }}">
        <img src="{{ url_for('static', filename='squareup_logo.png') }}">
        <img src="{{ url_for('static', filename='azure_logo.png') }}">
        <img src="{{ url_for('static', filename='aws_logo.png') }}">
    </section>
</section>

<section class="ad" id="ad3">
    <h1>WSC API</h1>
    <p>The WSC API exists for users to create their own clients to services. Registering and loging
        in to a new account will create a token you can use to verify login to your own application.
        A responce code of 0 will return a json object and a cookie with the token. A responce of -1
        indicates a failed attempt.</p>
    <section class="block1">
    <pre>
    <code>
    GET - Endpoints
    34.42.125.145:8080/api/home
    responce = {
        "code" : 0,
        "body" : jsonObject
    }

    POST - Register new user
    34.42.125.145:8080/api/register
    json = {
        "service" : "service1",
        "username" : "yourchoice",
        "password" : "yourchoice"
    }

    POST - Login
    34.42.125.145:8080/api/login
    json = {
        "service" : "service1",
        "username" : "yourchoice",
        "password" : "yourchoice"
    }

    POST - Update username
    34.42.125.145:8080/api/update/username
    json = {
        "username" : "existingusername",
        "password" : "yourpassword",
        "new_username" : "yourchoice"
    }

    POST - Update password
    34.42.125.145:8080/api/update/password
    json = {
        "username" : "existingusername",
        "password" : "yourpassword",
        "new_password" : "yourchoice"
    }

    POST - Delete user
    34.42.125.145:8080/api/delete
    json = {
        "username" : "existingusername",
        "password" : "yourpassword",
    }

    GET - Logout
    34.42.125.145:8080/api/logout
    </code>
    </pre>
    </section>
</section>

<script src="{{ url_for('static', filename='js/index.js')  }}"></script>
{% endblock %}