<section id="menu" onclick="menuClick(this)"">
    <section class="menu_icon">
        <section class="menu_container">
            <div class="menu1"></div>
            <div class="menu2"></div>
            <div class="menu3"></div>
        </section>
    </section>
    <section class="menu_bar">
        {% include 'nav_menu.html' %}
        <a class="menu_buff"></a>
    </section>
    {% if g.user %}
    <a href="{{ url_for('web.logout') }}" class="left_icon">Logout</a>
    <a href="{{ url_for('web.home_page') }}" class="right_icon">Home</a>    
    {% else %}
    <a href="/#login" class="left_icon">Login</a>
    <a href="{{ url_for('web.index') }}" class="right_icon">Home</a>    
    {% endif %}
</section>
<div class="nav_spacer"></div>