


body {
    background-color: rgb(107, 73, 73);
}

#sleeve {
    background-color: rgb(226, 226, 226);
}

.content {
    height: 100vh;
}

#header h1 {
    margin-top: 0;
    padding-top: 2rem;
}

.glass {
    background-image: linear-gradient(rgb(141, 171, 255),rgb(60, 95, 209));
    color: white;
}

.glass:hover {
    background-image: linear-gradient(rgb(171, 191, 255),rgb(22, 69, 172));
}
