<!DOCTYPE html>
{% extends 'cookbook/base.html' %}

{% block header %}

{% endblock %}

{% block content %}
{% if days %}
{% for day in days %}
<section class="date_box">
    <h1>{{ day }}</h1>
    <form method="POST">
        <input type="search" list="recipes" placeholder="Recipe?" name="recipe">
        <datalist id="recipes">
            {% for recipe in recipes %}
            <option value="{{ recipe['title'] }}">
            {% endfor %}
        </datalist>
        <input value="{{ day }}" style="display:none;" name="date">
        <input type="submit" value="Add">
    </form>
    <ul>
        {% if meals %}
        {% for meal in meals %}
        {% if meal['date'] == day %}
        <li>{{ meal['title'] }}</li>
        {% endif %}
        {% endfor %}
        {% endif %}
    </ul>
</section>
{% endfor %}
{% endif %}
{% endblock %}