<!DOCTYPE html>
{% extends 'cookbook/base.html' %}

{% block header %}
<form>
    <input type="search" list="recipes" placeholder="Recipe?">
    <datalist id="recipes">
        {% for recipe in recipes %}
        <option value="{{ recipe['title'] }}">
        {% endfor %}
    </datalist>
    <input type="date">
</form>
{% endblock %}

{% block content %}
{% if days %}
{% for day in days %}
<section class="date_box">
    <h1>{{ day }}</h1>
    <ul>
        {% if meals %}
        {% for meal in meals %}
        {% if meal['date'] == day %}
        <li>{{ meal['title'] }}</li>
        {% endif %}
        {% endfor %}
        {% endif %}
    </ul>
</section>
{% endfor %}
{% endif %}
{% endblock %}