<!DOCTYPE html>
{% extends 'cookbook/base.html' %}

{% block header %}
<h1>{{ g.user['username'] }}'s Latest Recipe</h1>
{% endblock %}

{% block content %}
<section id="input_recipe">
    <form method="POST" style="display:flex;flex-direction:column;width:80%;margin:auto;">
        <label for="title">Recipe Title:</label>
        <input type="text" name="title" id="recipe_title" value="{{ recipe['title'] }}" required>
        <label for="ckeditor">Body</label>
        {{ ckeditor.create(value=recipe['recipe']) }}<br>
        <label for="keywords">Recipe Keywords *Seperate by comma*</label>
        <input type="text" name="keywords" id="recipe_keywords" value="{{ recipe['keywords'] }}">
        <label for="categories">Categories:</label>
        {% if categories %}
        <section class="cat_chk">
            {% for category in categories %}
            <div>
                <label for="{{ category['id'] }}">{{ category['name'] }}</label>
                {% if category['id'] in cat_list %}
                <input type="checkbox" name="{{ category['id'] }}" checked>
                {% else %}
                <input type="checkbox" name="{{ category['id'] }}">
                {% endif %}
            </div>
            {% endfor %}
        </section>
        {% endif %}
        <input class="submit" type="submit" value="Update">
    </form>
</section>
{{ ckeditor.load() }}
<script src="{{ url_for('static', filename='cookbook/js/ckeditor_config.js') }}"></script>
{% endblock %}