<!DOCTYPE html>
{% extends 'cookbook/base.html' %}

{% block header %}
<h1>{{ g.user['username'] }}'s Cookbook</h1>
<section id="cb_home_menu">
    <a href="{{ url_for('web.cookbook.new_recipe') }}"><button>New Recipe</button></a>
    <a href="{{ url_for('web.cookbook.calendar') }}"><button>Calendar</button></a>
    <form method="POST" action="{{ url_for('web.cookbook.new_category') }}">
        <input type="text" name="category" placeholder="New Category" required>
        <input type="submit" value="Add">
    </form>
    <!-- <form>
        <input type="search" list="recipes" placeholder="Keyword?">
        <datalist id="recipes">
            {% for keyword in keywords %}
            <option value="{{ keyword['keyword'] }}">
            {% endfor %}
        </datalist>
    </form> -->
    <a href="{{ url_for('web.cookbook.edit_category' )}}"><button>Edit Categories</button></a>
    {% if categories %}
    <section id="category_buttons">
        {% if recipes %}
        <a href="{{ url_for('web.cookbook') }}" class="glass">clear list</a>
        {% endif %}
        {% for category in categories %}
        <a href="{{ url_for('web.cookbook', category_id=category['id']) }}" class="glass">{{category['name']}}</a>
        <button onclick="catShowHide(this)" class="cat_button glass">{{category['name']}}</button>
        {% if recipes %}{# and recipes[0]['category_id'] == category['id'] #}
        <section id="recipe_list" style="display:none;flex-direction:column;justify-content:center;">
            {% for recipe in recipes %}
            {% if recipe['category_id'] == category['id'] %}
            <h1><a href="{{ url_for('web.cookbook.recipes', recipe_id=recipe['id']) }}">{{ recipe['title'] }}</a>
            </h1>
            {% endif %}
            {% endfor %}
        </section>
        {% endif %}
        {% endfor %}
        <a href="{{ url_for('web.cookbook', category_id='000') }}" class="glass">uncategorized</a>
            {% if recipes and uncat_trig %}
            {% for recipe in recipes %}
            <h1><a href="{{ url_for('web.cookbook.recipes', recipe_id=recipe['id']) }}">{{ recipe['title'] }}</a>
            </h1>
            {% endfor %}
        {% endif %}
        <a href="{{ url_for('web.cookbook', category_id='00') }}" class="glass">all</a>
        {% if recipes and recipes[0]['category_id'] == Null and not uncat_trig %}
            {% for recipe in recipes %}
            <h1><a href="{{ url_for('web.cookbook.recipes', recipe_id=recipe['id']) }}">{{ recipe['title'] }}</a>
            </h1>
            {% endfor %}
        {% endif %}
    </section>
    {% endif %}
</section>

<script>
    function catShowHide(element) {
        console.log(element);
        let parentArray = Array.from(element.parentNode.children);
        let base = parentArray.indexOf(element);
        let target = parentArray[base+1];
        console.log(target)
        if (target.id === 'recipe_list' && target.style.display === 'none') {
            target.style.display = 'flex';
        }
        else if (target.id === 'recipe_list' && target.style.display === 'flex') {
            target.style.display = 'none';
        }
    };
</script>

{% endblock %}

{% block content %}
{% if recipes %}
<!-- <section id="recipe_list">
    {% for recipe in recipes %}
    <h1><a href="{{ url_for('web.cookbook.recipes', recipe_id=recipe['id']) }}">{{ recipe['title'] }}</a>
    </h1>
    {% endfor %}
</section> -->
{% endif %}
{% endblock %}
