<!DOCTYPE html>
{% extends 'cookbook/base.html' %}

{% block header %}
<h1>{{ g.user['username'] }}'s Cookbook</h1>
<section id="cb_home_menu" style="display:flex;flex-direction:column">
    <a href="{{ url_for('web.cookbook.new_recipe') }}"><button>New Recipe</button></a>
    <a href="#recipe_list"><button>View</button></a>
    <form>
        <input type="search" list="recipes" placeholder="Keyword?">
        <datalist id="recipes">
            {% for keyword in keywords %}
            <option value="{{ keyword['keyword'] }}" />
            {% endfor %}
        </datalist>
    </form>
</section>

{% endblock %}

{% block content %}
<section id="recipe_list">
    {% for recipe in recipes %}
    <a href="cookbook/view/{{ recipe['id'] }}"><h1>{{ recipe['title'] }}</h1></a>
    {% endfor %}
</section>
{% endblock %}