<!DOCTYPE html>
{% extends 'wsc/base.html' %}

{% block header %}
<h1>{{ g.user['username'] }}'s Latest Recipe</h1>
{% endblock %}

{% block content %}
<section id="input_recipe"></section>
    <form method="POST" style="display:flex;flex-direction:column;width:80%;margin:auto;">
        <label for="title">Recipe Title:</label>
        <input type="text" name="title" id="recipe_title" required>
        <label for="recipe_body">Recipe:</label>
        <textarea name="recipe" id="recipe_body" rows="20" required></textarea>
        <label for="keywords">Recipe Keywords *Seperate by comma*</label>
        <input type="text" name="keywords" id="recipe_keywords">
        <input type="submit" value="Add">
    </form>
</section>
{% endblock %}