body {
    background-image: url("../images/background_img.jpg");
}

header {
    height: 100vh;
    max-height: 100vh;
}

#title_img {
    width: 100%;
    height: auto;
    max-width: 70vh;
    margin: auto;
}

#login_form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
}

#about {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.ad {
    min-height: 102vh;
    display: flex;
    flex-direction: column;
}

.ad h1 {
    font-size: 2rem;
}

#ad3 {
    justify-content: space-evenly;
}

.ad p {
    margin: .3rem 1rem .3rem 1rem; 
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 10px 10px 10px rgb(177, 177, 177, .8);
    line-height: 2;
}

.logo_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logo_flex img {
    width: 85vw;
    max-width: 300px;
    height: auto;
    max-height: 28vh;
}

#contact {
    display: flex;
    justify-content: center;
}

#contact a {
    margin: .45rem;
    width: 65%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.block1 {
    margin: .45rem auto .45rem auto; 
    width: 85%;
    overflow: scroll;
    max-width: 400px;
}

.block1 img {
    width: 50vw;
    max-width: 375px;
}

.block2 {
    display: flex;
    margin: auto; 
    width: 75%;
    justify-content: space-evenly;
    align-items: center;
}

.block2 img {
    width: 50vw;
    max-width: 375px;
}

.block3 img {
    width: 25vw;
    max-width: 200px;
}

@media only screen and (min-width:1000px) {

    body {
        background-image: url('../images/background_img.jpg');
    }

    #sleeve {
        background-color: powderblue;
        background-image: linear-gradient(rgb(177, 224, 231, 0), powderblue, powderblue, powderblue);
    }

}

#sleeve {
    background-image: linear-gradient(rgb(177, 224, 231, 0), powderblue, powderblue, powderblue);
}


/* Header icons */

.logo_container, .text_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    padding-top: 1rem;
    box-shadow: 10px 10px 10px rgb(177, 177, 177, .8);
    /* box-shadow: 3px 3px 3px orange inset; */
    /* flex-wrap: wrap; */
}

.img_text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_text img {
    width:70%;
    max-width:200px;
}

.img_text p {
    max-width: 100%;
}

.title h1 {
    font-size: 2.2rem;
    margin: 0;
}

.title p {
    font-size: 1.2rem;
}

#service_menu {
    display: flex;
    flex-direction: column;
}

.service_link {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 35%;
    margin: auto;
    margin-bottom: 1rem;
    height: 2rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: black;
}
