body {
    background-color: rgb(62, 95, 204);
}

.nav_spacer {
    height: 100px;
}

#view_recipe {
    background-color: black;
    width: 95%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.page_buff {
    height: 3rem;
}

.ckedit p {
    line-height: 2.0;
}

.ckedit ol {
    line-height: 2.0;
}

.ckedit ul {
    line-height: 1.0;
}

pre {
    text-align: left;
    width: 86%;
    margin: auto;
    white-space: pre-line;
    white-space: pre-wrap;
    white-space:-moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrape;
    word-wrap: break-word;
    font-family:Arial;
}

.ckedit {
    line-height: 0vh;
}

.ckedit p {
    margin: 0;
}

.ckedit ol {
    line-height: 1.5;
}

@media only screen and (min-width:1000px) {
    #sleeve {
        background-color: rgb(14, 13, 13);
        /* color:rgb(255, 255, 255); */
    }
}

#sleeve {
    background-color: rgb(39, 23, 23);
    color:rgb(255, 255, 255);
}

#sleeve a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}