body {
    background-color: rgb(62, 95, 204);
    min-height: 100vh;
}

.nav_spacer {
    height: 100px;
}

#view_recipe {
    background-color: black;
    width: 95%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.page_buff {
    height: 3rem;
}

.ckedit p {
    line-height: 2.0;
}

.ckedit ol {
    line-height: 2.0;
}

.ckedit ul {
    line-height: 1.0;
}

pre {
    text-align: left;
    width: 86%;
    margin: auto;
    white-space: pre-line;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrape;
    word-wrap: break-word;
    font-family: Arial;
}

.ckedit {
    line-height: 0vh;
}

.ckedit p {
    margin: 0;
}

.ckedit ol {
    line-height: 1.5;
}

@media only screen and (min-width:1000px) {
    #sleeve {
        background-color: rgb(14, 13, 13);
        /* color:rgb(255, 255, 255); */
    }
}

#sleeve {
    background-color: rgb(39, 23, 23);
    color: rgb(255, 255, 255);
}

#sleeve a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#category_buttons {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 35%;
    margin: auto;
}

#category_buttons a {
    /* height: 2rem; */
    align-content: center;
    width: 100%;
    margin: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.cat_chk {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
}

.cat_chk div {
    flex-direction: row;
    margin-top: .2rem;
    margin-bottom: .2rem;
}

#input_recipe label {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#input_recipe .submit {
    margin: 1rem;
}

#edit_category form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#edit_category form div {
    flex-direction: column;
}

main {
    min-height: 100vh;
}

.view_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.view_nav form {
    /* padding: .5rem; */
}

.check_with_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#cb_home_menu {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: .5rem;
    margin-bottom: .5rem;
}


.glass {
    min-height: 2rem;
    border-radius: 25px;
}

.date_box {
    border: solid black 4px;
    border-radius: 90deg;
    margin: auto;
    width: 70%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}