body {
    background-color: rgb(43, 87, 99);
    min-height: 100vh;
}

.nav_spacer {
    height: 100px;
}

#view_recipe {
    background-color: black;
    width: 95%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.page_buff {
    height: 3rem;
}

.ckedit p {
    line-height: 2.0;
}

.ckedit ol {
    line-height: 2.0;
}

.ckedit ul {
    line-height: 1.0;
}

pre {
    text-align: left;
    width: 86%;
    margin: auto;
    white-space: pre-line;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrape;
    word-wrap: break-word;
    font-family: Arial;
}

.ckedit {
    line-height: 0vh;
}

.ckedit p {
    margin: 0;
}

.ckedit ol {
    line-height: 1.5;
}

@media only screen and (min-width:1000px) {
    #sleeve {
        background-color: rgb(43, 87, 99);
        /* color:rgb(255, 255, 255); */
    }
}

#sleeve {
    background-color: rgb(43, 87, 99);
    color: rgb(255, 255, 255);
}

#sleeve a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#category_buttons {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 35%;
    margin: auto;
}

#category_buttons a {
    /* height: 2rem; */
    align-content: center;
    width: 100%;
    margin: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.cat_chk {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
}

.cat_chk div {
    flex-direction: row;
    margin-top: .2rem;
    margin-bottom: .2rem;
}

.cat_button {
    color: white;
    min-width: 250px;
}

#input_recipe label {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#input_recipe .submit {
    margin: 1rem;
}

#edit_category form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#edit_category form div {
    flex-direction: column;
}

main {
    min-height: 100vh;
}

.view_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.view_nav form {
    /* padding: .5rem; */
}

.check_with_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#cb_home_menu {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

button {
    margin-top: .5rem;
    margin-bottom: .5rem;
}


.glass {
    min-height: 2rem;
    border-radius: 25px;
    color: white;
    /* background-color: rgb(71, 188, 255); */
	background-image: linear-gradient(rgb(255, 173, 135),rgb(155, 83, 41));
}

.glass:hover {
    background-image: linear-gradient(rgb(245, 247, 123), rgb(226, 191, 32));
    color: black;
}

.date_box {
    border: solid rgb(51, 115, 145) 4px;
    border-radius: 90deg;
    margin: auto;
    width: 70%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.l_date_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    background-color: rgb(219, 119, 61);
}

.r_date_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calendar_day {
    font-size: 2rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.meal_list {
    list-style-type: none;
}

.meal_delete_form {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.menu_delete_button {
    height: 1.5rem;
    margin: 1rem;
}

@media (orientation:portrait) {
    .date_box {
        display: flex;
        flex-direction: column;
    }

    .l_date_container {
        flex: 100;
        max-height: 150px;
        padding: none;
        margin-left: 0px;
    }

    .calendar_day {
        padding-top: 0px;
        margin-top: 0px;
        font-size: 1.5rem;
    }

    .calendar_date {
        font-size: 1rem;
    }

    .cal_date_header {
        display:flex;
        flex-direction: row;
    }
}