


body {
    background-color: rgb(107, 73, 73);
}

#sleeve {
    background-color: rgb(226, 226, 226);
}

.content {
    height: 100vh;
}

#header h1 {
    margin-top: 0;
    padding-top: 2rem;
}

.glass {
    background-image: linear-gradient(rgb(235, 67, 1),rgb(146, 46, 16));
    color: white;
}

.glass:hover {
    background-image: linear-gradient(rgb(255, 181, 171),rgb(170, 48, 0));
}
