body {
    text-align: center;
    margin: 0;
}

#sleeve {
    width: 100%;
    background-attachment: fixed;
    min-height: 100vh;
}

.content {
    min-height: 100vh;
}

nav:hover {
    opacity: 100%;
}

/* Button Style ******************************** */

.glass {
	background-color: orange;
	background-image: linear-gradient(orange,darkorange);
}

.glass:hover {
    background-image: linear-gradient(orange, rgb(255, 210, 126))
}

.glassG {

}

.glassG:hover {
    background-image: linear-gradient(orange, rgb(255, 210, 126));
    color: black;
}

/* Menu ********************************** */

#menu {
}

.menu_icon {
    background-color: orange;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor:pointer;
    position: fixed;
    bottom: 5vh;
    right: 50%;
    margin-right: -30px;   
    transition: 0.4s; 
    z-index: 100;
}

#menu div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.menu_bar {
    height: 0px;
    margin: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.menu_bar a {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.left_icon, .right_icon {
    display: none;
}

.menu_buff {
    background-color: rgb(107, 107, 107);
    padding-bottom: 4vh;
}

.menu_image {
    height: 100%;
    width: 100%;
}


/* Change styles ***************************** */


.change .left_icon, .change .right_icon {
    position: fixed;
    bottom: 2vh;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.change .left_icon {
    left: 25%;
    margin-left:-30px;
    background-color: orange;
}

.change .right_icon {
    bottom: 2vh;
    right: 25%;
    margin-right:-30px;
    background-color: powderblue;
}

.change .menu_bar {
    height: auto;
    padding-bottom: calc(60px + 4vh);
    background-color: rgb(112, 112, 112);
}

.change .menu_icon {
    bottom: 2vh;
}

.change .menu1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .menu2 {
    opacity:0;
}

.change .menu3 {
    transform: translate(0, -11px) rotate(45deg);
}

.change .top_drop {
    height: auto;
    display:flex;
}

.change .top_drop a {
    display: flex;
}



/* Nav ******************************* */

nav {
    display: flex;
    margin-top: .5rem;
    flex-direction: row;
    justify-content: space-between;
    height: 0px;
    position: fixed;
    width: 100vw;
}

.nav_wrapper {
    height: 0px;
    display: flex;
    width: 97%;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(107, 107, 107, .85);
    border-radius: 10%;
}

footer {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgrey;
}

.left_foot, .right_foot {
    width: 30vw;
    margin: .24rem;
}

@media only screen and (min-width:1000px) {
    body {
        margin: auto auto auto auto;
        background-image: url('../images/background_img.jpg');
        background-attachment: fixed;
    }

    #sleeve {
        width: 1000px;
        max-width: 1000px;
        margin: auto;
        background-attachment: fixed;

        padding-top: 80px;
    }

    .menu_icon {
        display: none;
    }

    #menu {
        margin: auto;
        display: flex;
        flex-direction: row;
        width: 90vw;
        top: 10px;
        height: 45px;
        overflow: hidden;
        border-radius: 30px;
    }

    .left_icon, .right_icon {
        width: 120px;
        height: inherit;
        display:flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    .menu_bar {
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        position: initial;
        height: inherit;
        overflow: hidden;
    }

    .menu_bar a {
        width: 100%;
        height: inherit;
    }

    footer {
        padding-bottom: 0;
    }

    nav .menu_bar {
        opacity: 70%;
    }

    nav .menu_bar:hover {
        opacity: 100%;
    }

}