body {
    background-color: powderblue;
    text-align: center;
    margin: 0;
}

header {
    height: 100vh;
    max-height: 100vh;
}

/* #menu div {
    height: 20px;
    width: 32px;
    position: fixed;
    background-color: white;
} */

#title_img {
    width: 100%;
    height: auto;
    max-width: 70vh;
    margin: auto;
}

#login_form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
}

#about {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.ad {
    min-height: 102vh;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

#app_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#app_list a {
    margin: .45rem;
    width: 25%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(230,120,120, .6); */
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    
}

#contact {
    display: flex;
    justify-content: center;
}

#contact a {
    margin: .45rem;
    width: 65%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(230,120,120, .6); */
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.glass {
	background-color: orange;
	background-image: linear-gradient(orange,darkorange);
}

.glass:hover {
    background-image: linear-gradient(orange, rgb(255, 210, 126))
}

#ad1 {
    display: flex;
}

.block1 {
    display: flex;
    margin: auto; 
    width: 75%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: .45rem;
    margin-bottom: .45rem;
}

.block1 img {
    width: 50vw;
    max-width: 375px;
}

.block2 {
    display: flex;
    margin: auto; 
    width: 75%;
    justify-content: space-evenly;
    align-items: center;
}

.block2 img {
    width: 50vw;
    max-width: 375px;
}

.block3 img {
    width: 25vw;
    max-width: 200px;
}

#menu {
    /* transition: 0.4s */
}

.menu_icon {
    background-color: orange;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor:pointer;
    position: fixed;
    bottom: 5vh;
    right: 50%;
    margin-right: -30px;   
    transition: 0.4s; 
    z-index: 100;
}

#menu div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.menu_bar {
    height: 0px;
    margin: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.menu_bar a {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.left_icon, .right_icon {
    display: none;
}

.change .left_icon, .change .right_icon {
    position: fixed;
    bottom: 2vh;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: orange;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.change .left_icon {
    /* position: fixed;
    bottom: 2vh; */
    left: 25%;
    margin-left:-30px;
    /* width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: orange;
    display:flex;
    justify-content: center;
    align-items: center; */
}

.change .right_icon {
    /* position: fixed;
    bottom: 2vh; */
    right: 25%;
    margin-right:-30px;
    /* width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: orange;
    display:flex;
    justify-content: center;
    align-items: center; */
}

.menu_buff {
    background-color: darkgrey;
    padding-bottom: 4vh;
}

.change .menu_bar {
    height: auto;
}

.change .menu_icon {
    bottom: 2vh;
}

.change .menu1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .menu2 {
    opacity:0;
}

.change .menu3 {
    transform: translate(0, -11px) rotate(45deg);
}

@media only screen and (min-width:1000px) {
    body {
        width: 1000px;
        max-width: 1000px;
        margin: auto;
        background-image: url('background_img.jpg');
        background-color: powderblue;
        background-attachment: fixed;
    }

    #menu {
        display: none;
    }
}

#sleeve {
    width: 100%;
    background-color: powderblue;
}

code {
    padding: 0;
    display: flex;
    flex-direction: flex-start;
    text-align: left;
    align-content: left;
    background-color: bisque;
    margin: 0;
    justify-content: center;
}

pre {
    display: flex;
    margin: 0;
    text-align: right;
    align-content: left;
}